
<style>body {font-family: Arial, Helvetica, sans-serif;}
        form {border: 3px solid #f1f1f1;}
       /* Full-width input fields */
       
       .bg
        {
            background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=746&q=80");
            background-size:cover;
            min-height:700px;
        }
             
       input[type=text], input[type=password] {
         width: 100%;
         padding: 15px;
         margin: 5px 0 22px 0;
         display: inline-block;
         border: none;
         background: #f1f1f1;
       }
       
       input[type=text]:focus, input[type=password]:focus {
         background-color: #ddd;
         outline: none;
       }
       
         button {
           background-color: #4CAF50;
           color: white;
           padding: 14px 20px;
           margin: 8px 0;
           border: none;
           cursor: pointer;
           width: 100%;
         }
         
         .footer {
               
               left: 0;
               bottom: 0;
               width: 100%;
              position: fixed;
               color: white;
               text-align: center;
            }
         .card
          {
            padding: 16px;
         background: rgba(15, 14, 14, 0.644); /* This is for ie8 and below */
         background: rgba(19, 18, 18, 0.5); 
       }
       
         </style>
         <body class="bg">
             <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                 <a class="navbar-brand" href="#">
                     <img src="/assets/final.png" style="width:40px;">
                   </a>
                   <ul class="navbar-nav">
                       <div class="navbar-nav ml-auto">
                      
                           <a class="navbar-brand" href="#">Mentor On Demand</a>
                         
                       </div>
                  </ul>
             </nav>
         <div class="row mt-5">
         <div class="card mx-auto " style="width:400px;">
                 
         <form  (ngSubmit)="onSubmit(email.value,password.value,role.value)" #loginForm="ngForm">
         <div class=container>
           <b>Login</b>
           <hr/>
           <div>
             <label><b>Email</b></label>&nbsp;
             <input type="text" name="email" placeholder="Enter Email" #email="ngModel" ngModel required [class.is-invalid]="email.invalid && email.touched">
             <!-- <small class="text-danger" [class.d-none]="userid.valid || userid.untouched">
                 UserId is Required
               </small> -->
           </div>
           <div>
             <label><b>Password</b></label>&nbsp;
             <input type="password" name="password" placeholder="Enter password" #password="ngModel" ngModel required [class.is-invalid]=" password.invalid &&  password.touched">
           
            <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">
               Password is Required
             </small> -->
           </div>
           <div >
               <label><b>Role</b></label>&nbsp;
               <select  class="form-control" required [class.is-invalid]="role.invalid &&role.touched" placeholder="Enter Bloodgroup" id="role" ngModel #role="ngModel" name="role">
              
                    <option value="Admin">Admin</option>
                    <option value="Mentor">Mentor</option>
                    <option value="User">User</option>
                   
            
                </select>
           </div>
           <div class="text-danger" >{{msg}}</div>
           <p>New User?<a routerLink='/register'>Register</a></p>
           <div>
             <button type="submit" [disabled]="loginForm.invalid">Login</button>
           </div>
         </div>
         </form>
    
       </div>
       </div>
  
         
       </body>
       <footer class="bottom-footer footer bg-dark">
           <p style="margin-left:50px">copyright 2019</p>
          </footer>
       
